# zsh-syntax-highlighting styles
export ZSH_HIGHLIGHT_STYLES=(
  default                          'fg=#{{base05-hex}}'
  unknown-token                    'fg=#{{base08-hex}}'
  reserved-word                    'fg=#{{base0E-hex}}'
  alias                            'fg=#{{base0A-hex}}'
  builtin                          'fg=#{{base0D-hex}}'
  function                         'fg=#{{base0D-hex}}'
  command                          'fg=#{{base0B-hex}},bold'
  precommand                       'fg=#{{base0B-hex}},underline'
  hashed-command                   'fg=#{{base0B-hex}}'
  path                             'fg=#{{base0C-hex}}'
  globbing                         'fg=#{{base0A-hex}}'
  history-expansion                'fg=#{{base09-hex}}'
  single-hyphen-option             'fg=#{{base0C-hex}}'
  double-hyphen-option             'fg=#{{base0C-hex}}'
  back-quoted-argument             'fg=#{{base08-hex}}'
  single-quoted-argument           'fg=#{{base0F-hex}}'
  double-quoted-argument           'fg=#{{base06-hex}}'
  dollar-quoted-argument           'fg=#{{base06-hex}}'
  assign                           'fg=#{{base09-hex}}'
)

