[user]
	name = Shayan
	email = shayan.haghighi04@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = true
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
