[palettes.catppuccin_mocha]
base = "#{{base00-hex}}"
mantle = "#{{base01-hex}}"
surface0 = "#{{base02-hex}}"
surface1 = "#{{base03-hex}}"
surface2 = "#{{base04-hex}}"
text = "#{{base05-hex}}"
rosewater = "#{{base06-hex}}"
lavender = "#{{base07-hex}}"
red = "#{{base08-hex}}"
peach = "#{{base09-hex}}"
yellow = "#{{base0A-hex}}"
green = "#{{base0B-hex}}"
teal = "#{{base0C-hex}}"
blue = "#{{base0D-hex}}"
mauve = "#{{base0E-hex}}"
flamingo = "#{{base0F-hex}}"
black = "#{{base10-hex}}"
