thm_base="#{{base00-hex}}"
thm_mantle="#{{base01-hex}}"
thm_surface0="#{{base02-hex}}"
thm_surface1="#{{base03-hex}}"
thm_surface2="#{{base04-hex}}"
thm_text="#{{base05-hex}}"
thm_rosewater="#{{base06-hex}}"
thm_lavender="#{{base07-hex}}"
thm_red="#{{base08-hex}}"
thm_peach="#{{base09-hex}}"
thm_yellow="#{{base0A-hex}}"
thm_green="#{{base0B-hex}}"
thm_teal="#{{base0C-hex}}"
thm_blue="#{{base0D-hex}}"
thm_mauve="#{{base0E-hex}}"
thm_flamingo="#{{base0F-hex}}"
